<div class="container">
  <h1 class="mt-4">My sports articles</h1>
  <div class="grid-home">
    <% @articles.each do |article| %>
      <div class="card-home fab-container">
        <%= link_to article_path(article) do %>
          <% if article.pictures.attached? %>
            <%= cl_image_tag article.pictures.first.key %>
          <% else %>
            <%= image_tag "picture-placeholder-surfboard" %>
          <% end %>
          <div class="card-home-content">
            <div class="card-title"><%= article.title %></div>
            <div class="card-overview"><%= article.description %></div>
            <div class="card-footer">$<%= article.price %> /day</div>
          </div>
        <% end %>
        <div class="fab-multi-holder">
          <%= link_to edit_article_path(article), class: "fab-btn mb-2" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to article_path(article), class: "fab-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
