<div class="row">
  <div class="mb-3 integer required characteristic_length col">
    <%= f.label :length, class: "form-label" %>
    <div class="input-group mb-3">
      <%= f.input_field :foot, min: "1", class: "form-control text-end" %>
      <span class="input-group-text">'</span>
      <%= f.input_field :inch, min: "0", max: "11", class: "form-control text-end" %>
      <span class="input-group-text" id="basic-addon">"</span>
    </div>
  </div>
  <div class="mb-3 integer required characteristic_volume col">
    <%= f.label :volume, class: "form-label" %>
    <div class="input-group mb-3">
      <%= f.input_field :volume, min: "1", class: "form-control text-end" %>
      <span class="input-group-text" id="basic-addon">L</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col"><%= f.input :shape, collection: SurfboardCharacteristic::SHAPES %></div>
  <div class="col"><%= f.input :fins_setup, collection: SurfboardCharacteristic::FINS_SETUP %></div>
</div>
