<nav class="navbar navbar-expand bg-light">
  <div class="container-fluid">
    <%= link_to "Sportan", root_path, class: "navbar-brand" %>
    <form action="/" method="get">
      <div class="fab-container">
        <input class="form-control input-pill-rp" type="search" name="query" id="">
        <button class="fab-btn p-abs-right btn-simple" style="box-shadow: none;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
    <div class="d-flex align-items-center ms-3">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fa-solid fa-user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if user_signed_in? %>
              <li><%= link_to "Account", account_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Add a new article", new_article_path, class: "dropdown-item" %></li>
              <li><%= link_to "See all my articles", articles_path, class: "dropdown-item" %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign-up", new_user_registration_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
