<div class="container" data-controller="scroll-down">
  <div class="mt-4 map-container fab-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="fab-btn p-abs-center" data-action="click->scroll-down#fabClick"><i class="fa-solid fa-angles-down"></i></div>
  </div>
  <h1 class="mt-4" data-scroll-down-target="title">All sports articles to rent</h1>
  <div class="grid-home">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: "card-home" do %>
        <% if article.pictures.attached? %>
          <%= cl_image_tag article.pictures.first.key %>
        <% else %>
          <%= image_tag "picture-placeholder-surfboard" %>
        <% end %>
        <div class="card-home-content">
          <div class="card-title"><%= article.title %></div>
          <div class="card-overview"><%= article.description %></div>
          <div class="card-footer">$<%= article.daily_rate %> /day</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
