<div class="cover-home">
  <%= image_tag "boards-renting-beach.jpg", alt: "Picture of surboards renter", height: 450 %>
  <div class="cover-text-home">
    <h1>Sportan</h1>
    <p>Rent any sport article, anywhere in the world</p>
  </div>
</div>
<div class="container">
  <h1 class="mt-4">All sports articles to rent</h1>
  <div class="grid-home">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: "card-home" do %>
        <% if article.pictures.attached? %>
          <%= cl_image_tag article.pictures.first.key %>
        <% else %>
          <%= image_tag "picture-placeholder" %>
        <% end %>
        <div class="card-home-content">
          <div class="card-title"><%= article.title %></div>
          <div class="card-overview"><%= article.description %></div>
          <div class="card-footer">$<%= article.daily_rate %> /day</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
