<div class="simple-card-grid">
  <div class="simple-card">
    <i class="fa-solid fa-ruler"></i>
    <h5>Length</h5>
    <p><b><%= characteristic.foot %>'<%= characteristic.inch %>"</b></p>
  </div>
  <div class="simple-card">
    <i class="fa-solid fa-water"></i>
    <h5>Volume</h5>
    <p><b><%= characteristic.volume %> L</b></p>
  </div>
  <div class="simple-card">
    <i class="fa-solid fa-shapes"></i>
    <h5>Shape</h5>
    <p><b><%= characteristic.shape %></b></p>
  </div>
  <div class="simple-card">
    <i class="fa-solid fa-bars-staggered"></i>
    <h5>Fins setup</h5>
    <p><b><%= characteristic.fins_setup %></b></p>
  </div>
</div>
